.div1{
    font-size: 30px;
}
html{
    font-family: 'Segoe UI';
}
.btn_s{
border: 1px solid rgb(86, 141, 5);
border-radius: 5px;
width: 65px;
height: 28px;
color: rgb(86, 141, 5);
background-color: white;
box-shadow: 1px 1px 3px black; 
cursor: pointer;
}
.btn_s:hover{
border: 3px solid rgb(86, 141, 5);
color: rgb(255, 255, 255);
background-color: rgb(86, 141, 5);
transition: 0.5s;
box-shadow: 1px 1px 35px rgb(47, 255, 0);
}
.btn_st{
border: 1px solid rgb(141, 5, 5);
border-radius: 5px;
width: 65px;
height: 28px;
color: rgb(141, 5, 5);
background-color: white;
box-shadow: 1px 1px 3px black; 
cursor: pointer;
}
.btn_st:hover{
border: 3px solid rgb(141, 5, 5);
color: rgb(255, 255, 255);
background-color: rgb(141, 5, 5);
transition: 0.5s;
box-shadow: 1px 1px 35px rgb(255, 0, 0);
}
.btn_r{
border: 1px solid rgb(199, 183, 6);
border-radius: 5px;
width: 65px;
height: 28px;
color: rgb(199, 183, 6);
background-color: white;
box-shadow: 1px 1px 3px black; 
cursor: pointer;
}
.btn_r:hover{
border: 3px solid rgb(199, 183, 6);
color: rgb(255, 255, 255);
background-color: rgb(199, 183, 6);
transition: 0.5s;
box-shadow: 1px 1px 35px rgb(255, 234, 0);
}